In [1]:
items=['ban','soda','slim','apple','phone']

In [2]:
items

['ban', 'soda', 'slim', 'apple', 'phone']

In [3]:
for num in items:
    print(items)

['ban', 'soda', 'slim', 'apple', 'phone']
['ban', 'soda', 'slim', 'apple', 'phone']
['ban', 'soda', 'slim', 'apple', 'phone']
['ban', 'soda', 'slim', 'apple', 'phone']
['ban', 'soda', 'slim', 'apple', 'phone']

In [4]:
for num in item:
    print(item.index('soda'))

NameError: name 'item' is not defined

In [14]:
for num in items:
    print(num.upper())

BAN
SODA
SLIM
APPLE
PHONE

In [22]:
a=[1,2,3,4,5,6]

In [23]:
a

[1, 2, 3, 4, 5, 6]

In [25]:
a.append(90)

In [26]:
a

[1, 2, 3, 4, 5, 6, 90]

In [32]:
for el in a:
    if el%3==0:
        print(el)
        
    else:
        print('no such number')

no such number
no such number
3
no such number
no such number
6
90

In [33]:
l=[(1,2),(3,4),(5,6)]

In [34]:
l

[(1, 2), (3, 4), (5, 6)]

In [35]:
for i in l:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [37]:
for (i1,i2) in l:
    print(i2+6)

8
10
12

In [54]:
dict={'name':'farwa','roll':'123','uni':'hamdard','age':'23'}

In [55]:
dict

{'age': '23', 'name': 'farwa', 'roll': '123', 'uni': 'hamdard'}

In [43]:
dict.values()

dict_values(['farwa', 123, 'hamdard', 23])

In [44]:
dict.items()

dict_items([('name', 'farwa'), ('roll', 123), ('uni', 'hamdard'), ('age', 23)])

In [45]:
for i in dict:
    print(i)

name
roll
uni
age

In [46]:
for i in dict:
    print(i.items())

AttributeError: 'str' object has no attribute 'items'

In [60]:
for k,v in dict.items():
    print('what is your '+k)
    
    print('my '+ k +' is '+v)

what is your name
my name is farwa
what is your roll
my roll is 123
what is your uni
my uni is hamdard
what is your age
my age is 23

In [53]:
dict

{'age': 23, 'name': 'farwa', 'roll': 123, 'uni': 'hamdard'}